<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Admin', admin_dashboard_path %></li>
      <li class="breadcrumb-item active">Feature</li>
    </ul>
  </div>
</div>
<div class="container-fluid">
  <div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Listing Feature</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Title</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @features.each do |feature| %>
              <tr>
                <td><%= feature.title %></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</button>
                    <div class="dropdown-menu">                                   
                      <%= link_to 'Show', admin_feature_path(feature), class: "dropdown-item" %>
                      <%= link_to 'Edit', edit_admin_feature_path(feature), class: "dropdown-item" %>
                      <%= link_to 'Destroy', admin_feature_path(feature), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
                    </div>  
                  </div>
                </td>
              </tr>
            <% end %>  
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%= link_to 'New Feature' ,new_admin_feature_path, class: 'btn btn-primary btn-sm', data: {turbolinks: false} %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#dataTable').DataTable();
  });
</script>
