<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Features', admin_features_path %></li>
      <li class="breadcrumb-item active"><%= @feature.title %></li>
    </ul>
  </div>
</div>
<div class="container-fluid">
  <div class="card mt-4">
    <div class="card-body">
      <h3 class="mb-5"><i class="fa fa-eye mr-2"></i> Features Info</h3>
      <p>
        <strong>Title:</strong>
        <%= @feature.title %>
      </p>

      <%= link_to 'Edit', edit_admin_feature_path(@feature), class: "btn btn-primary" %> |
      <%= link_to 'Back', admin_features_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
