<div class="card rounded-0 user-card">
  <div class="card-body text-center">
    <%= image_tag "bstudent.jpg", class: "rounded-circle", style: "width:100px" %>
  </div>
  <%= link_to admin_dashboard_path, class: "list-group-item list-group-item-action" do %>
    <i class="fa fa-tachometer mr-2" ></i><span>Dashboard</span>
  <% end %>
  <%= link_to admin_users_path, class: "list-group-item list-group-item-action" do %>
    <i class="fa fa-user mr-2" ></i><span>User</span>
  <% end %>
  <%= link_to admin_agencies_path, class: "list-group-item list-group-item-action" do %>
    <i class="fa fa-building mr-2"></i><span>Agency</span>
  <% end %>
  <%= link_to admin_drivers_path, class: "list-group-item list-group-item-action" do%>
    <i class="fa fa-drivers-license mr-2"></i><span>Driver</span>
  <% end %>
  <% if user_signed_in? %>
   <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-danger rounded-0" do%>     
    <i class="fa fa-sign-out-alt mr-2"></i><span>Log out</span>
    <% end %>
  <% end %>
</div>


