<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="          #navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>        
        </li>
        <li class="nav-item">
          <%= link_to "About us", about_path, class: "nav-link" %>        
        </li>
        <li class="nav-item">
          <%= link_to "Contact us", new_contact_path, class: "nav-link" %>  
        </li>
        <li class="nav-item">
          <%= link_to "Services", services_path, class: "nav-link" %>  
        </li>      
      </ul>
      <div class="ml-auto">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
            </li>   
            <% if current_user.agency.present? %>
              <li class="nav-item">   
                <%= link_to 'Agency', agency_path(current_user.agency), class: "btn btn-primary ml-2" %>
                <% else %>   
                <%= link_to 'New Agency', new_agency_path(@agency), class: "btn btn-primary ml-2" %>                  
              </li>
            <% end %>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Login', new_user_session_path, class: "btn btn-primary" %>  
            </li>
            <li class="nav-item ml-2">
              <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
