<div class="jumbotron jumbotron-mb-0">
  <div class="container">
    <div class="text-center pl-5 pr-5">
      <h1 class="display-6 mb-3">Find Your Driver at DriverUps</h1>
      <p class="lead font-16">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
    </div>
    <div class="row">
      <div class="col-md-7 mx-md-auto">
        <%= render 'partials/search_driver', q: @q %> 
      </div>
    </div>
  </div>
</div>

<section style="min-height:150px;background-color: #2e7bff;">
  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-md-auto">
        <div class="row mt-5">
          <div class="col-md-8">
            <h1 class="display-6 text-white mt-0">Want to list your own driver?</h1>
          </div>
          <div class="col-md-4">
            <%= link_to "Create Agency", new_agency_path, class: "btn btn-dark rounded-0 btn-lg", target: "_blank" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="display-6 text-center font-weight-bold site-color">Own Your Agency with DriverUps</h1>
        <p class="text-justify font-15">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      </div>
      <div class="col-md-7">
        <%= image_tag "d1.png", class: "img-fluid" %>
      </div>
    </div>
    <div class="mt-5 mb-5">
    </div>
    <div class="row mt-5">
      <div class="col-md-5">
        <%= image_tag "multipledriver.png", class: "img-fluid" %>
      </div>
      <div class="col-md-7"> 
        <h1 class="display-6 text-center font-weight-bold site-color">Location of your nearby drivers</h1>
        <p class="text-justify font-15">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p> 
      </div>
    </div>
    <div class="mt-5 mb-5">
    </div>
    <div class="row mt-5">
      <div class="col-md-5">
        <h1 class="display-6 text-center font-weight-bold site-color">Own Your Cars with DriverUps</h1>
        <p class="text-justify font-15">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p> 
      </div>
      <div class="col-md-7">
        <%= image_tag "car.jpg", class: "img-fluid" %>
      </div>
    </div>
    <div class="mt-5 mb-5">
    </div>
    <div class="row mt-5">
      <div class="col-md-5">
        <%= image_tag "teamwork.jpg", class: "img-fluid" %> 
      </div>
      <div class="col-md-7">
        <h1 class="display-6 text-center font-weight-bold site-color">TEAMS AND TEAMWORK</h1>
        <p class="text-justify font-15">A team is a collection of individuals organized to accomplish a common purpose, who are intedependent, and who can be identified by themselves and observers as a team. Teams exist within a larger organization and interact with other teams and with the organization. Teams are one way for organizations to gather input from members, and to provide organization members with a sense of involvement in the pursuit of organizational goals. Further, teams allow organizations flexibility in assigning members to projects and allow for cross-functional groups to be formed.</p> 
      </div>
    </div>
    <div class="mt-5 mb-5">
    </div>
  </div>
  <div class="bg-image1 mt-5">
    <div class="container">
      <p class="text-justify text text-center pt-5">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p> 
    </div>
  </div>
</section>

<style type="text/css">
  .site-color {
    color: #2e7bff;
  }   
  .font-15 {
    font-size: 15px !important;
  }
  .image1{
    width: 100%;
  }
  .bg-image1{
    background: url('<%= asset_path 'd3.jpg'%>');
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    background-attachment: fixed;
  }
  .text{
    color: white;
  }


</style>
