<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <% @drivers.each do |driver| %>
          <div class="col-12 col-md-4">
            <div class="card mt-4">
              <div class="card-body">
                <div class="text-center">
                  <%= image_tag "driver.jpg", class: "rounded-circle image" %>
                  <h5 class="font-weight-bold mt-3"><%= driver.full_name %></h5>
                  <h6 data-toggle="tooltip" data-placement="top" title="<%= driver.address.capitalize %>"><%= truncate(driver.address.capitalize, length: 20) %></h6>
                  <h5 class="text-dark"><%= driver.country %></h5>      
                  <%= link_to agency_driver_path(driver.agency, driver), class: "btn btn-primary btn-sm" do %>
                    <i class="fa fa-eye"></i> <span>Show</span>
                  <%= link_to 'Book driver', new_booking_path(@booking), class: "btn btn-info btn-sm ml-2" %>
                  <% end %>
                </div>
              </div>
            </div>      
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-5 mt-3">
      <div id="map" style="width:100%;height:600px;"></div>
    </div>
  </div>
</div>
  
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFBYM37YGMTdgkEp9fipPljSjprTDZL8Y"></script> 
<!-- <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script> -->
<script type="text/javascript">
  var locations = [];

  <% @drivers.each do |driver| %>
  locations.push(["<%= driver.full_name %>", <%= driver.latitude %>, <%= driver.longitude %>])
  <% end %>

  console.log(locations);

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 11,
    center: new google.maps.LatLng(locations[0][1], locations[0][2]),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {  
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });  
</script>
