<div class="container-fluid">
  <div class="card mt-4">
    <div class="card-body">
      <p>
        <strong>Name:</strong>
        <%= @agency.name %>
      </p>

       <p>
        <strong>Cover image:</strong>
        <%= image_tag @agency.cover_image_url, class: "rounded-circle", style: "width:50px;height:100px;" %>
      </p>

      <p>
        <strong>Logo:</strong>
        <%= image_tag @agency.logo_url, class: "rounded-circle", style: "width:50px;height:100px;" %>
      </p> 
      <%= link_to 'New Driver', new_agency_driver_path(@agency), class: "btn btn-secondary" %> 
      <%= link_to 'Edit', edit_agency_path(@agency), class: "btn btn-primary" %>      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
      <%= render @agency.drivers %>        
      </div>
    </div>
  </div>   
</div>
