<div class="container">
  <div class="card mt-4">
    <div class="card-body">
      <div>
        <strong>Name:</strong>
        <%= @agency.name %>
      </div>

      <div>
        <strong>Cover image:</strong>
        <%= image_tag @agency.cover_image_url, class: "w-25" %>
      </div>

      <div>
        <strong>Logo:</strong>
        <%= image_tag @agency.logo_url, class: "w-25" %>
      </div> 
      <div class="mt-2">
        <%= link_to 'New Driver', new_agency_driver_path(@agency), class: "btn btn-info btn-sm" %> 
        <%= link_to 'Edit', edit_agency_path(@agency), class: "btn btn-primary btn-sm" %>             
      </div>
    </div>
  </div>
  <div>
    <%= search_form_for @q, url: :agency do |f| %>
      <%= f.search_field :first_name_or_last_name_cont, placeholder: "Name", class: "form-control mt-3" %>
      <%= f.submit "Search", class: "btn btn-secondary mt-2 btn-sm" %>
      <%= link_to "Reset", @agency, class: "btn btn-primary mt-2" %>
    <% end %>      
  </div>
  <div class="row">
    <div class="col-md-12 mb-5">
      <div class="row">
        <%= render @drivers %>        
      </div>
    </div>
  </div>   
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });  
</script>