<p id="notice"><%= notice %></p>

<h1>Agencies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cover image</th>
      <th>Logo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.each do |agency| %>
      <tr>
        <td><%= agency.name %></td>
        <td><%= agency.cover_image %></td>
        <td><%= agency.logo %></td>
        <td><%= link_to 'Show', admin_agency_path(agency) %></td>
        <td><%= link_to 'Edit', edit_admin_agency_path(agency) %></td>
        <td><%= link_to 'Destroy',admin_agency_path(agency), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agency', new_admin_agency_path %>
