<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Agencies', admin_agencies_path %></a></li>
      <li class="breadcrumb-item active"><%= @agency.name %></li>
    </ul>
  </div>
</div>
<div class="contanier">
  <div class="card mt-3 ml-5">
    <div class="card-body"> 
      <p>
        <strong>Name:</strong>
        <%= @agency.name %>
      </p>

      <p>
        <strong>Cover image:</strong><br>
        <%= image_tag @agency.cover_image_url, class: "mt-2",  style: "width:150px;height:100px;" %>
      </p>

      <p>
        <strong>Logo:</strong><br>
        <%= image_tag @agency.logo_url, class: "mt-2", style: "width:150px;height:100px;" %>
      </p>

      <p>
        <strong>Logo:</strong><br>
        <%= @agency.base_fare %>
      </p>

      <%= link_to 'Edit', edit_admin_agency_path(@agency), class: "btn btn-secondary btn-sm" %> |
      <%= link_to 'Back', admin_agencies_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>