<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'plans', admin_plans_path %></li>
      <li class="breadcrumb-item active"><%= @plan.name %></li>
    </ul>
  </div>
</div>
<% if notice.present? %>
  <div class="alert alert-success mt-5 alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= notice %>
  </div>
<% end %>
<section class="pricing py-5">
  <div class="container-fluid">
    <div class="card mt-5">
      <div class="card-body">
        <h5 class="card-title text-muted text-uppercase text-center"><%= @plan.name %></h5>
        <h6 class="card-price text-center">$<%= @plan.price %></h6>
        <hr>
        <ul class="fa-ul">
          <% @plan.features.each do |feature| %>
            <li><span class="fa-li"><i class="fa fa-check"></i></span><%= feature.title %></li>
          <% end %>  
        </ul>
        <%= link_to "View All plans", admin_plans_path, class: "btn btn-primary btn-block" %></a>
      </div>
    </div>
  </div>
</section>