<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Driver', admin_drivers_path %></li>
      <li class="breadcrumb-item active"><%= @driver.first_name %></li>
    </ul>
  </div>
</div>
<div class="contanier-fluid">
  <div class="card">
    <div class="card-body">            
      <p>
        <strong>Profile image:</strong>
        <%= image_tag @driver.profile_image_url, class: "rounded-circle", style: "width:175px;height:175px;" %>
      </p>

      <p>
        <strong>First name:</strong>
        <%= @driver.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @driver.last_name %>
      </p>

      <p>
        <strong>Contact 1:</strong>
        <%= @driver.contact_1 %>
      </p>

      <p>
        <strong>Contact 2:</strong>
        <%= @driver.contact_2 %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @driver.city %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @driver.state %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= @driver.country %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @driver.address %>
      </p>

      <p>
        <strong>Id proof:</strong>
        <%= @driver.id_proof %>
      </p>

      <p>
        <strong>Additional:</strong>
        <%= @driver.additional_id %>
      </p>

      
      <%= link_to 'Edit', edit_admin_driver_path(@driver),class: "btn btn-secondary btn-sm" %> |
      <%= link_to 'Back', admin_drivers_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>
