<div class="col-md-4">
  <div class="card mt-4">
    <div class="card-body text-center">        
      <p>
       <%= image_tag "driver.jpg", class: "rounded-circle image" %>
      </p>

      <p>
       <strong>First name:</strong>
       <%= driver.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= driver.last_name %>
      </p>

      <p>
        <strong>Contact 1:</strong>
        <%= driver.contact_1 %>
      </p>

      <p>
        <strong>Contact 2:</strong>
        <%= driver.contact_2 %>
      </p>

      <p>
        <strong>City:</strong>
        <%= driver.city %>
      </p>

      <p>
        <strong>State:</strong>
        <%= driver.state %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= driver.country %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= driver.address %>
      </p>

      <p>
        <strong>Zip code:</strong>
        <%= driver.zipcode %>
      </p>

      <p>
        <strong>Id proof:</strong>
        <%= driver.id_proof %>
      </p>

      <p>
        <strong>Additional:</strong>
        <%= driver.additional_id %>
      </p>

      <p>
        <%= link_to 'Delete driver', [driver.agency, driver],
        method: :delete,
        data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %>
      </p>
      <%#= link_to "Show", agency_driver_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
