<div class="card">
  <div class="card-header">
    <h1>Drivers</h1>      
  </div>
  <div class="card-body">     
    <div class="table-responsive">      
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Full name</th>
            <th>Contact 1</th>
            <th>Contact 2</th>
            <th>City</th>           
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @drivers.each do |driver| %>
          <tr>
            <td><%= driver.full_name %></td>
            <td><%= driver.contact_1 %></td>
            <td><%= driver.contact_2 %></td>
            <td><%= driver.city %></td>
            <td><%= link_to 'Show', driver, class: "btn btn-success" %></td>
            <td><%= link_to 'Edit', edit_driver_path(driver), class: "btn btn-warning" %></td>
            <td><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


