<div class="container">
  <div class="row no-gutters mt-3">
    <div class="col-md-6">      
      <div class="card mr-3 mb-3">
        <div class="card-body"> 
        <div class="row">
          <div class="col-md-3"> 
            <p>
              <%= image_tag @driver.profile_image_url, class: "rounded-circle", style: "width:120px;height:120px;" %>
            </p>            
          </div>
          <div class="col-md-8 ml-4"> 
            <h4 class="name-tag"><%= @driver.full_name %></h4>

            <strong>Contact 1:</strong>
            <p class="u-language"><%= @driver.contact_1 %></p>

            <strong>Contact 2:</strong>
            <p class="u-language"><%= @driver.contact_2 %></p>

            <strong>City:</strong>
            <p class="u-language"><%= @driver.city %></p>

            <strong>State:</strong>
            <p class="u-language"><%= @driver.state %></p>

            <strong>Country:</strong>
            <p class="u-language"><%= @driver.country %></p>

            <strong>Address:</strong>
            <p class="u-language"><%= @driver.address %></p>

            <strong>Driving license:</strong>
            <p class="u-language"><%= @driver.id_proof %></p>

            <strong>Additional:</strong>
            <p class="u-language"><%= @driver.additional_id %></p>            
          </div>
        </div>   

        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div id="map">

      </div>  
    </div>
  </div>
</div>

<script 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFBYM37YGMTdgkEp9fipPljSjprTDZL8Y">
</script>

<script>
  var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: new google.maps.LatLng(<%= @driver.latitude %>, <%= @driver.longitude %>),
      disableDefaultUI: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;
  
  marker = new google.maps.Marker({
    position: new google.maps.LatLng(<%= @driver.latitude %>, <%= @driver.longitude %>),
    map: map
  });

  google.maps.event.addListener(marker, 'click', (function(marker, i) {
    return function() {
      infowindow.setContent("<%= @driver.address %>");
      infowindow.open(map, marker);
    }
  })(marker, i));
    
</script>


<style type="text/css">
  #map {
    width: 80%;
    height: 575px;
}

</style>
