<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Users</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact number</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.first_name %></td>
              <td><%= user.email %></td>
              <td><%= user.contact_number %></td>
              <td><%= user.role %></td>
              <td>
                <%= link_to 'Show', admin_user_path(user), class: "btn btn-success rounded-0 btn-sm" %>
                <%= link_to 'Edit', edit_admin_user_path(user), class: "btn btn-warning rounded-0 btn-sm" %>
                <%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger rounded-0 btn-sm" %>    
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New user', new_admin_user_path, class: "btn btn-primary rounded-0 btn-sm" %>
    </div>
  </div>
</div>